# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan
/tmp/*.zip

# Node.js
node_modules/

# PHP / Composer
vendor/
**/vendor/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

symfony-offers/composer.lock
symfony-offers/var/
